extends layout

block layout-content
  link(rel="stylesheet" href="/css/active_players.css")
  div.ActivePlayerTable
    table(style='width:100%;background-color:white', border='1')
        tr
          th Players
        each game in playersByGame
          each player in game.rosters
            tr
              td
                div.Player
                  div.PlayerName 
                    p #{player.first_name} #{player.last_name}
                  div.PlayerInfo
                    p #{player.position}, #{player.team_name}
                unless userSelections.has(parseInt(player.player_id))
                  form(class="player-select", method="POST" action="/players/selection")
                    div.SelectPlayerButton
                      button(class="btn btn-small" type="submit") Select Player
                    input(type="hidden" name="player" value=player)
                    input(type="hidden" name="date" value=date)